body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    &__btn-change-lang{
        position: absolute;
        right: 0;
        height: 50px;
        cursor: pointer;
        background: none;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 1em;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.3) !important;
        }
        &:active{
            background-color: rgba(0, 0, 0, 0.4) !important;
        }
    }
    &__lang-selector{
        list-style-type: none;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0px;
        top: 50px;
        width: 200px;
        border: 1px solid #000;
        transition: 0.25s;

        & li{
            margin: 0;
            padding: 0 0.25em;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            background-color: #cfcfcf;

            &:hover{
                background-color: #9e9e9e;
            }
            &:active{
                background-color: #7c7c7c;
            }

            & img{
                margin-right: 10px;
                width: 75px;
            }
        }
    }
    &__textsAB-cont{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        color: #000;
        padding: 2em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        &__textA-cont{
            display: flex;
            flex-direction: column;

            &__title{
                font-size: 1em;
            }
            &__readingText{
                font-family: Helvetica, Arial, sans-serif;
                width: 100%;
                height: 150px;
                resize: none;
                font-size: 1.2em;
                padding: 0.25em;
            }
            &__api-listen-btns-cont{
                &__btn{
                    font-size: 2em;
                    cursor: pointer;
                    padding: 0.25em;

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                    }
                    &:active{
                        background-color: rgba(0, 0, 0, 0.4);
                    }
                }
            }
        }
        &__textB-cont{            
            &__transcript{
                font-family: Helvetica, Arial, sans-serif;
                width: 100%;
                height: 150px;
                resize: none;
                font-size: 1.2em;
                padding: 0.25em;
            }
        }
    }
    &__btns-cont{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px 2em;
        
        button{
            height: 50px;
            cursor: pointer;
            background: none;
            border-radius: 10px;
            border: 1px solid black;
            margin: 0.35em 0;
            font-size: 1em;

            &:hover{
                background-color: rgba(0, 0, 0, 0.3) !important;
            }
            &:active{
                background-color: rgba(0, 0, 0, 0.4) !important;
            }
        }

        &__btn-change{
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
        &__rec-stop{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &__btn-rec{
                padding: 0 2em;
                background-color: #f00e !important;

                &:active{
                    background-color: #f00a !important;
                }
            }
            &__btn-stop{
                padding: 0 2em;
                background-color: #a0a0a0ee !important;
                color: #000;

                &:active{
                    background-color: #a0a0a0aa !important;
                }
            }
        }
        &__btn-check{
            background-color: #080c !important;
            position: absolute;
            top: -42px;
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            border-radius: 0 0 10px 10px !important;

            &:active{
                background-color: #080a !important;
            }
        }
    }
}
.lang-selector-hidden{
    right: -210px;
    transition: 0.25s;
}